header {
    background-color: #553a79;
    color: white;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: 40px;
    cursor: pointer;
}

.navList {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 30px 5px 0px;
    list-style: none;
    margin: 0;
}

.navItem {
    font-size: 18px;
    font-weight: bold;
}

.navItem a:hover {
    color: #f173e7;
}