header {
    background-color: #553a79;
    color: white;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
}
.logo:hover {
    transform: scale(1.9);
    transition: transform 1.5s ease-in-out;  
}
.navList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 30px 5px 0px;
}

.navItem {
    font-size: 18px;
    font-weight: bold;
}
.navItem:hover {
    color: #e5a0da;
    transition: color 0.7s ease-in-out;
}